body {
    background-color: rgb(31,30,30);
    font-family: 'Roboto', sans-serif;
    margin: 8rem;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

li {
    list-style: none;
    margin: 0;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(255,255,255);
    padding: 1rem;
    border-radius: 6px;
}
textarea {
    resize: none;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}


input, textarea, select {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.25rem;
    color: rgb(61,58,58);
}

/* focus selector for form when it is being focused */
input:focus, textarea:focus {
    background-color: rgb(219,190,253);
    color: rgb(32, 3, 66);
}

button {
    display: block;
    /* styles to inherit to overide the broweser default styles. */
    font: inherit;
    /* font: normal 1rem 'Roboto', sans-serif; */
    background-color: rgb(32, 3, 66);
    color: white;
    border: 1px solid rgb(31,30,30);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(219,190,253);
    border-color: rgb(219,190,253);
}


.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}

